$colorBlue: #009cde;
$colorWhite: white;
$colorWhite2: #e1e1e1;

/* ---------------------------------- theme --------------------------------- */

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.theme-blue {
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    &:hover {
      color: $colorBlue;
      border-color: $colorBlue;
      transition: 0.5s;
    }
  }

  a {
    &:hover {
      color: $colorBlue;
      border-color: $colorBlue;
    }
  }

  mark {
    background-color: $colorBlue;
  }

  header {
    strong {
      color: $colorBlue;
    }
  }
}

/* ----------------------------- navigation bar ----------------------------- */

.navBar {
  background-color: $colorWhite;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $colorWhite2;
  z-index: 1;

  a {
    color: black;
    float: left;
    font-size: 11px;
    letter-spacing: 0.2rem;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .icon {
    display: none;
  }
}

/* --------------------------------- header --------------------------------- */

header {
  text-align: center;
  margin-top: 18rem;
  margin-bottom: 7rem;

  strong {
    font-weight: normal;
  }
}

/* --------------------------------- section -------------------------------- */

section {
  margin-top: 5rem !important;

  pre {
    margin-top: 0;
  }

  .center {
    text-align: center;
  }
}

/* ---------------------------------- image --------------------------------- */

img {
  max-width: 100%;
  height: auto;
}

.icon {
  display: block;
}

.icon-blue {
  color: $colorBlue;
}
